[Unit]
Description=Valheim service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=steam
WorkingDirectory=/home/steam/GameServers/Valheim
ExecStart=/home/steam/GameServers/Valheim/start_valheim.sh

[Install]
WantedBy=multi-user.target